#gameboard {
    margin: 64px auto;
    border-collapse: collapse;
}

#gameboard td {
    border: solid 1px gray;
    width: 8px;
    height: 8px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the body take up the full height of the viewport */
    margin: 0; /* This removes any default margin */
    padding-left: 50px;
    padding-right: 50px;
}

.snake {
    background-color: rgb(5, 254, 30);
}

.food {
    background-color: green;
}

#message {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 2rem;
    font-weight: bold;
}


.gameover-main {
    color: red;
    font-size: 3rem;
}

.gameover-main2 {
    font-size: 2rem;
}